useDynLib("GENESIS")

import(grDevices)
import(graphics)
import(methods)
import(stats)
importFrom(utils, read.table)

import(Biobase)
import(gdsfmt)
import(Matrix)
import(data.table)
import(foreach)
import(survey)
import(COMPoissonReg)
import(poibin)
import(SPAtest)

importFrom(GWASTools,
           GdsGenotypeReader,
           GenotypeData,
           GenotypeBlockIterator)
importClassesFrom(GWASTools,
                  GdsGenotypeReader,
                  GenotypeData,
                  GenotypeIterator,
                  GenotypeBlockIterator,
                  ScanAnnotationDataFrame)
importMethodsFrom(GWASTools,
                  close,
                  getChromosome,
                  getGenotypeSelection,
                  getPosition,
                  getScanAnnotation,
                  getScanID,
                  getSnpID,
                  getSnpVariable,
                  getVariable,
                  getSex,
                  hasSex,
                  snpFilter,
                  XchromCode,
                  YchromCode)

import(SeqArray)
import(SeqVarTools)

importFrom(SNPRelate,
           snpgdsPCA,
           snpgdsPCASNPLoading,
           snpgdsPCASampLoading)

importFrom(BiocGenerics, start, end)
importFrom(GenomicRanges, GRanges)
importFrom(IRanges, IRanges, findOverlaps)
importFrom(S4Vectors, mcols, queryHits, subjectHits)

importFrom(dplyr, bind_rows, inner_join, filter, left_join, summarise, arrange, group_by, "%>%")
importFrom(rlang, sym)

# deprecated/defunct
export(admixMapMM,
       assocTestMM,
       fitNullMM,
       fitNullReg,
       king2mat,
       pcrelateMakeGRM,
       pcrelateReadInbreed,
       pcrelateReadKinship)

exportMethods(assocTestSingle,
              assocTestAggregate,
              assocTestSingle_split,
              assocTestAggregate_split,
              fitNullModel,
              kingToMatrix,
              makeSparseMatrix,
              pcair,
              pcrelate,
              pcrelateToMatrix)

export(admixMap,
       calcISAFBeta,
       correctKin,
       correctK0,
       correctK2,
       find_incomplete_hits,
       gen_id_list,
       kin2gds,
       mat2gds,
       match_signif_hits,
       merge_nullmod_BR,
       nullModelInvNorm,
       pcairPartition,
       pcrelateSampBlock,
       recreate_iterator,
       run_split_subset,
       save_split_results,
       samplesGdsOrder,
       varCompCI)

S3method(plot, pcair)
S3method(summary, pcair)
S3method(print, pcair)
S3method(print, summary.pcair)
